blinker==1.4
certifi==2018.4.16
chardet==3.0.4
cloudpickle==0.5.3
docutils==0.14
doit==0.31.1
idna==2.7
Logbook==1.4.0
lxml==4.2.3
Mako==1.0.7
Markdown==2.6.11
MarkupSafe==1.0
natsort==5.3.3
Nikola==7.8.15
piexif==1.0.13
Pillow==5.2.0
Pygments==2.2.0
pyinotify==0.9.6
Pyphen==0.9.4
PyRSS2Gen==1.1
python-dateutil==2.7.3
requests==2.19.1
six==1.11.0
Unidecode==1.0.22
urllib3==1.23
webassets==0.12.1
Yapsy==1.11.223
